<html>
<head>
    <title> Video Game Search </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

    <link href="/styles.css" rel="stylesheet">

</head>

<body id = 'overlay'>
    <header> 
        <%- include('./partials/header'); %> 
    </header>

    <span id = 'all-games' class = 'd-none' hidden> <%=JSON.stringify(locals.gamesByLetter) %> </span>

    <div class="container">
        <!-- <h2 style="color:blue;">Upcoming releases</h2> -->
    </div>
    <section id="carousel">
        <div id="carousel-home" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-home" data-slide-to="1"></li>
                <li data-target="#carousel-home" data-slide-to="2"></li>
                <li data-target="#carousel-home" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <% if(games){ %> 
                        <img class = 'game-data-image mx-auto d-block' src = '<%=games[0].game.cover.url.replace("t_thumb","t_cover_big")%>' alt = 'game cover' /> 
                    <% } %> 
                    <div class="carousel-caption">
                        <% if(games){ %> 
                            <h3><strong>|PC|&ThickSpace;&ThickSpace;&ThickSpace;</strong> <%=games[0].game.name %> </h3>
                        <% } %> 
                        <% if(games){ %> 
                            <p> <%=games[0].game.summary %> </p>
                        <% } %> 
                    </div>
                </div>
                <div class="carousel-item">
                    <% if(games){ %> 
                        <img class = 'game-data-image mx-auto d-block' src = '<%=games[1].game.cover.url.replace("t_thumb","t_cover_big")%>' alt = 'game cover' /> 
                    <% } %> 
                    <div class="carousel-caption">
                        <% if(games){ %> 
                            <h3><strong>|Playstation 5|&ThickSpace;&ThickSpace;&ThickSpace;</strong> <%=games[1].game.name %> </h3>
                        <% } %> 
                        <% if(games){ %> 
                            <p> <%=games[1].game.summary %> </p>
                        <% } %> 
                    </div>
                </div>
                <div class="carousel-item">
                    <% if(games){ %> 
                        <img class = 'game-data-image mx-auto d-block' src = '<%=games[2].game.cover.url.replace("t_thumb","t_cover_big")%>' alt = 'game cover' /> 
                    <% } %> 
                    <div class="carousel-caption">
                        <% if(games){ %> 
                            <h3><strong>|Playstation 4|&ThickSpace;&ThickSpace;&ThickSpace;</strong> <%=games[2].game.name %> </h3>
                        <% } %> 
                        <% if(games){ %> 
                            <p> <%=games[2].game.summary %> </p>
                        <% } %> 
                    </div>
                </div>
                <div class="carousel-item">
                    <% if(games){ %> 
                        <img class = 'game-data-image mx-auto d-block' src = '<%=games[3].game.cover.url.replace("t_thumb","t_cover_big")%>' alt = 'game cover' /> 
                    <% } %> 
                    <div class="carousel-caption">
                        <% if(games){ %> 
                            <h3><strong>|Nintendo Switch|&ThickSpace;&ThickSpace;&ThickSpace;</strong> <%=games[3].game.name %> </h3>
                        <% } %> 
                        <% if(games){ %> 
                            <p> <%=games[3].game.summary %> </p>
                        <% } %> 
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    
    <section id="best-by-type">
         <div class="section-content">
             <div class="container">
                 <!-- <h2 style="color:blue;">Popular games:</h2> -->
                 <p class="lead" style="color:white;">These are the three most popular games of the moment</p>
                 <div class="row">
                     <div class="col-sm-13">
                         <div class="card-group">
                             <div class="card border-light mb-4">
                                 <div class="card-block text-center">
                                     <h4 class="card-title"><%=bestGames[0].genres.map(gen => ' ' + gen.name) %> </h4>
                                     <% if(bestGames){ %> 
                                        <h6 class="card-subtitle"><%=bestGames[0].name %> </h6>
                                     <% } %> 
                                 </div>
                                 <img class="mx-auto d-block" src='<%=bestGames[0].cover.url.replace("t_thumb","t_cover_big") %>' alt="Game 4">
                                 <div class="card-block text-center">
                                     <p class="card-text"><%=bestGames[0].summary %> </p>
                                     <a class = 'text-decoration-none' href = '/game/<%=bestGames[0].id%>/<%=bestGames[0].name%>/'> <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Learn more</button></a>
                                 </div>
                             </div>

                             <div class="card border-light mb-4">
                                 <div class="card-block text-center">
                                     <h4 class="card-title"><%=bestGames[1].genres.map(gen => ' ' + gen.name) %>  </h4>
                                     <% if(bestGames){ %> 
                                        <h6 class="card-subtitle"><%=bestGames[1].name %> </h6>
                                     <% } %> 
                                 </div>
                                 <img class="mx-auto d-block" src='<%=bestGames[1].cover.url.replace("t_thumb","t_cover_big") %>' alt="Game 4">
                                 <div class="card-block text-center">
                                     <p class="card-text"><%=bestGames[1].summary %> </p>
                                     <a class = 'text-decoration-none' href = '/game/<%=bestGames[1].id%>/<%=bestGames[1].name%>/'> <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Learn more</button></a> 
                                 </div>
                             </div>
                             
                             <div class="card border-light mb-4">
                                 <div class="card-block text-center">
                                     <h4 class="card-title"><%=bestGames[2].genres.map(gen => ' ' + gen.name) %> </h4>
                                     <% if(bestGames){ %> 
                                        <h6 class="card-subtitle"><%=bestGames[2].name %> </h6>
                                     <% } %> 
                                 </div>
                                 <img class="mx-auto d-block" src='<%=bestGames[2].cover.url.replace("t_thumb","t_cover_big") %>' alt="Game 4">
                                 <div class="card-block text-center">
                                     <p class="card-text"><%=bestGames[2].summary %> </p>
                                     <a class = 'text-decoration-none' href = '/game/<%=bestGames[2].id%>/<%=bestGames[2].name%>/'> <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Learn more</button></a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    </section>
    

    <section id="favorite" >
        <div class="section-content">
            <div class="container">
                <div class = 'row'> 
                <div class="col-md-6 order-2">
                    <div class="favorite-text">
                        <h3>Miguel's Favorite</h3>
                        <% if(favoriteGames){ %> 
                            <p class="lead"><u><%=favoriteGames[0].name %></u></p>
                        <% } %> 
                        <p><%=favoriteGames[0].summary %></p>
                        
                        <h5>Learn more about the game and saga</h5>
                        <a href="https://www.youtube.com/watch?v=cGJ-vqsG4Js" target="_blank" class="btn btn-secondary">Trailer</a>
                        <a href="https://www.metacritic.com/game/playstation-2/metal-gear-solid-3-snake-eater" target="_blank" class="btn btn-secondary">Reviews</a>
                        <a href="https://psnprofiles.com/guide/5449-metal-gear-solid-3-snake-eater-trophy-guide" target="_blank" class="btn btn-secondary">Guide</a>
                    </div>
                </div>
                <div class = 'col order-1'> 
                    <img class = 'img-fluid discover-favorite-game-img' src = "<%=favoriteGames[0].cover.url.replace('t_thumb','t_cover_big') %>" alt = 'game cover' style = 'width: 90%;'/> 
                </div>
            </div> 
            </div>
        </div>
    </section>
    <section id="favorite">
        <div class="container">
            <div class = 'row'> 
            <div class="col order-md-1 order-2">
                <div class="favorite-text">
                    <h3>Brandon's Favorite</h3>
                    <% if(favoriteGames){ %> 
                        <p class="lead"><u><%=favoriteGames[1].name %></u></p>
                    <% } %> 
                    <p><%=favoriteGames[1].summary %></p>
                    
                    <h5>Learn more about the game and saga</h5>
                    <a href="https://www.youtube.com/watch?v=zCa8w6mrDJg" target="_blank" class="btn btn-secondary">Trailer</a>
                    <a href="https://www.metacritic.com/game/playstation-2/kingdom-hearts-ii" target="_blank" class="btn btn-secondary">Reviews</a>
                    <a href="https://psnprofiles.com/guide/2086-kingdom-hearts-ii-trophy-guide" target="_blank" class="btn btn-secondary">Guide</a>
                </div>
            </div>
            <div class = 'col-md-6 order-md-2 order-1'> 
                <img class = 'img-fluid discover-favorite-game-img'src = "<%=favoriteGames[1].cover.url.replace('t_thumb','t_cover_big') %>" alt = 'game cover' style = 'width: 90%;'/> 
            </div>
        </div> 
        </div>
    </section>

    <footer> 
        <%- include('./partials/footer'); %> 
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Added -->  
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'> </script> 
    <script src = '/main.js'> </script> 
    <script src = '/discover.js'> </script> 
</body>
</html>