<html>
<head>
    <title> All Games </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <header> 
        <%- include('./partials/header'); %> 
    </header>


    <div class = 'container h-100'>
    <div class = 'row mt-5 w-100'> 
        <div class = 'col mx-4'> 
            <div class="input-group mb-3">
                <form action = '/search-games' method = 'POST' id = 'search-form' class = 'form-inline'> 
                    <input type="text" class="form-control" id="basic-url" name = 'input' placeholder = 'Search Games' aria-describedby="basic-addon3" required>
                    <button type = 'submit' class = 'btn btn-primary ml-sm-2 mt-2 mt-md-0'> Search </button>
                </form>
            </div>
        </div>
    </div> 
     
    <div class = 'row d-flex justify-content-center'> 
        <div class = 'col bg-black'> 
            <% if(game.cover){ %> 
                <img class = 'game-data-image mx-auto d-block' src = '<%=game.cover.url.replace("t_thumb","t_cover_big")%>' alt = 'game cover' /> 
            <% } %> 
        </div> 
        <div class = 'col-lg bg-black my-5 my-lg-0'> 
            <h2 class = 'text-white text-center'> <%=game.name%> </h2>
            <dl class = 'row mt-5'> 
                <% if (game.summary) { %>
                    <dt class = 'col-sm-3 text-white'> Summary </dt> <dd class = 'col-sm-9 text-white'> <%=game.summary%></dd>
                <% } %>
                <% if (game.storyline) { %>
                    <dt class = 'col-sm-3 text-white'> Storyline </dt> <dd class = 'col-sm-9 text-white'> <%=game.storyline %></dd> 
                <% } %>
                <% if (game.game_modes) { %>
                    <dt class = 'col-sm-3 text-white'> Game Modes </dt> <dd class = 'col-sm-9 text-white'> <%= game.game_modes.map(mode => mode.name + ' ') %> </dd>
                <% } %>
                <% if (game.genres) { %>
                    <dt class = 'col-sm-3 text-white'> Genres </dt> <dd class = 'col-sm-9 text-white'> <%= game.genres.map(gen => gen.name + ' ') %> </dd>
                <% } %>
                <% if (game.platforms) { %>
                    <dt class = 'col-sm-3 text-white'> Platforms </dt> <dd class = 'col-sm-9 text-white'> <%= game.platforms.map(plat => plat.name + ' ') %> </dd>
                <% } %>
                <% if (game.first_release_date) { %>
                    <dt class = 'col-sm-3 text-white'> Release Date </dt> <dd class = 'col-sm-9 text-white'> <%= new Date(game.first_release_date) %> </dd> 
                <% } %>
                <% if (game.rating) { %>
                    <dt class = 'col-sm-3 text-white'> Rating </dt> <dd class = 'col-sm-9 text-white'> <%= game.rating %> </dd> 
                <% } %>
            </div>
        </div>  
        <footer> 
            <%- include('./partials/footer'); %> 
        </footer>
    </div> 
    <!-- <footer> 
        <%- include('./partials/footer'); %> 
    </footer> -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Added -->  
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'> </script> 
    <script src = '/scripts.js'> </script>
</body>
</html>