<html>
<head>
    <title> All Games </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <header> 
        <%- include('./partials/header'); %> 
    </header>
    
    
    <span id = 'games' class = 'd-none' hidden> <%- JSON.stringify(searchGames) %> </span>
    <span id = 'all-games' class = 'd-none' hidden> <%=JSON.stringify(allGames) %> </span> 
    <span id = 'new-search' class = 'd-none' hidden> <%=newSearch%> </span>

    <div class = 'container mt-5'> 
        <div class = 'row'> 
            <div class = 'col d-flex justify-content-center'> 
                <h3 id = 'search-input' class = 'display-4 text-white'><%=input%></h3>
            </div> 
        </div> 
    </div> 
    <!-- <div class = 'container'> -->
        <div class='my-5 min-vw-100 search-games-container mx-0'>
            <div class='all-games-centered-content'>
                <ul class='list-group list-group-horizontal flex-wrap mx-2 my-3 bg-transparent'>
                    <% for (var i = 0; i < 26; i++){ %>
                    <li class='list-group-item border-0 px-2 px-sm-2 bg-transparent text-center'> <button type='submit'
                            value='<%= (i+10).toString(36)%>' onclick='searchByLetter(this.value)' class='btn btn-link p-0'>
                            <%= (i+10).toString(36) %> </button> </li>
                    <% } %>
                </ul>
                <div class="input-group mb-3">
                    <form action='/search-games' method='POST' id='search-form' class='form-inline'>
                        <input type="text" class="form-control bg-transparent" id="basic-url" name='input'
                            placeholder='Search Games' aria-describedby="basic-addon3" style='background-color: rgba(0,0,0,.7);'
                            required>
                        <button type='submit' class='btn btn-dark ml-sm-2 mt-2 mt-md-0' style='opacity: 0.7'> Search </button>
                    </form>
                </div>
            </div>
        
        </div>
        <div class='jumbotron d-flex justify-content-center bg-transparent'>
            <div class='col card-deck alpha-games'>
 
            </div>
        </div>
     
    <div class = 'row d-flex justify-content-center'> 
        <div class = 'col'> 
            <div class = 'jumbotron bg-white p-0 d-none'> 
                 
                <div class="list-group alpha-games">

                </div>
                <div class = 'row'> 
                    <div class = 'col'> 
                        <button type = 'submit' onclick = 'prevPage(this.value)' value = '<%=input%>' class = 'btn btn-primary float-left m-3'> Prev </button>
                        <button type = 'submit' onclick = 'nextPage(this.value)' value = '<%=input%>' class = 'btn btn-primary float-right m-3'> Next </button>
                    </div> 
                </div>
                 
            </div> 
        </div>  
    </div> 
    <!-- </div>   -->
    <footer> 
        <%- include('./partials/footer'); %> 
    </footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Added -->  
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'> </script> 
    <script src = '/main.js'> </script>
    <script src = '/search-games.js'> </script> 
</body>
</html>